/TCPServer/Protocol/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/TCPServer/Protocol/obj/project.assets.json
/TCPServer/Protocol/obj/project.nuget.cache
/TCPServer/Protocol/obj/project.packagespec.json
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.AssemblyInfo.cs
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.AssemblyInfoInputs.cache
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.assets.cache
/TCPServer/Protocol/Protocol.csproj
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.csproj.AssemblyReference.cache
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.csproj.CoreCompileInputs.cache
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.csproj.FileListAbsolute.txt
/TCPServer/Protocol/obj/Protocol.csproj.nuget.dgspec.json
/TCPServer/Protocol/obj/Protocol.csproj.nuget.g.props
/TCPServer/Protocol/obj/Protocol.csproj.nuget.g.targets
/TCPServer/Protocol/bin/Debug/net7.0/Protocol.deps.json
/TCPServer/Protocol/bin/Debug/net7.0/Protocol.dll
/TCPServer/Protocol/obj/Debug/net7.0/ref/Protocol.dll
/TCPServer/Protocol/obj/Debug/net7.0/refint/Protocol.dll
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.dll
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.GeneratedMSBuildEditorConfig.editorconfig
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.GlobalUsings.g.cs
/TCPServer/Protocol/bin/Debug/net7.0/Protocol.pdb
/TCPServer/Protocol/obj/Debug/net7.0/Protocol.pdb
/TCPServer/Protocol/obj/rider.project.restore.info
